<div class="grid grid-cols-1 lg:grid-cols-3 dark:text-white ">
<% @my_loans.each do |loan| %>
    <div class="card text-center shadow-2xl lg:w-8/12">
        <figure class="px-10 pt-10">
            <% if loan.book.cover.attached? %>
                <%= image_tag(loan.book.cover) %>
            <% else %>
                <img src="https://picsum.photos/id/1005/208/270">
            <% end %>
        </figure>
        <div class="card-body">
            <h2 class="card-title"> <%= loan.book.title %> </h2> 
            <p> <%= loan.book.description %> </p> 
            <div class="justify-center card-actions">
                <%= link_to 'READ', my_loan_path(loan), class:"btn btn-secondary read_buttons" %>
                <p>Tiempo restante</p>
            </div>
        </div>
    </div>
<% end %>
</div>

